{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}

{% block body_block %}
<!-- -->
<!--h1>Rango says...</h1-->
<!--div>
    here is the about page. <br />
    This tutorial has been put together by Yue Zhao.<br />
    <p>Visits: {{ visits }}</p>
</div-->

<div class="container wrap text-center">
    <img alt="Picture of Rangohelpsyou" src="{% static 'images/rangohelpsme.jpg' %}" weight="558" height="558" />
    <div class="about-wrap">
        <p>
            This application was created in August 2021 as a teamwork as a part of Internet Technology course at
            University of Glasgow.
        </p>
        <p>
            Rango is an online learning web app that allows users to browse through  categories to access various
            tutorial websites while they can review them and recommend.
        </p>
        <p>
            After creating your user account, you can share comments and tutorial link onto the category page. You can
            also delete your review and show your likes to others'comments , as well as sort them by best or new.
        <p>
    </div>
</div>








<!--img src="{{ MEDIA_URL }}rangoname.png" alt="Picture of a rango" weight="558" height = "558"/-->

{% endblock %}