{% extends 'rango/base.html' %}
{% load staticfiles%}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
<div class="container wrap">

    {% if category %}
    <h1>{{ category.name }}</h1>
    <div class="add-btn-wrap">
        <a class="btn btn-primary " href="{% url 'rango:add_page' category.slug %}" role="button">Add Page</a>
    </div>

    {% if pages %}
    <div class="list-group" id="page_list">
        {% for page in pages %}
        <a href="{{ page.url }}" class="list-group-item list-group-item-action" aria-current="true">
            {{ page.title }}
        </a>

        {% endfor %}
    </div>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}


    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}

    <h4 class="comment-title">There are {{ comments.count }} comments.</h4>
    <div class="add-btn-wrap">
        <a class="btn btn-primary " href="{% url 'rango:add_comment' category.slug %}" role="button">Add Comment</a>
    </div>

    <div class="list-group" id="comment_list">
        {% for comment in comments %}
        <a href="#" class="list-group-item list-group-item-action">

            <p class="mb-1 comment">{{ comment.content}}</p>
            <small style="color: green">{{ comment.user }}&nbsp;&nbsp;&nbsp;</small>
            <small style="color: purple">{{ comment.time|date:"Y-m-d H:i:s" }}</small>
            <small style="color: purple"><a href="#"  onclick="delete_comment({{ comment.id }})">删除该评论</a></small>


        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}