{% extends 'rango/base.html' %}
{% load staticfiles%}

{% block title_block %}
{% if category %}
{{ category.name }}
{% else %}
Unknown Category
{% endif %}
{% endblock %}

{% block body_block %}
<div class="container wrap">

    {% if category %}
    <div class="category-title">
        <h1>{{ category.name }}</h1>
        <div class="title-like">
            <strong id="like_count">{{ category.likes }}</strong> likes
            {% if user.is_authenticated %}
            <button id="like_btn" data-categoryid="{{ category.id }}" class="btn btn-primary btn-sm"
                onclick="like_category('{{ category.id }}')" type="button">
                <span data-feather="thumbs-up"></span>
                Like
            </button>
            {% endif %}
        </div>
    </div>

    

    <div class="add-btn-wrap">
        <a class="btn btn-primary " href="{% url 'rango:add_page' category.slug %}" role="button">Add Page</a>
    </div>

    {% if pages %}
    <div class="list-group" id="page_list">
        {% for page in pages %}
        <a href="{{ page.url }}" class="list-group-item list-group-item-action" aria-current="true">
            {{ page.title }}
        </a>

        {% endfor %}
    </div>
    {% else %}
    <strong>No pages currently in category.</strong>
    {% endif %}

    {% if user.is_authenticated %}


    {% endif %}
    {% else %}
    The specified category does not exist.
    {% endif %}

    <h4 class="comment-title">There are {{ all_comments.count }} comments.</h4>
    <div class="add-btn-wrap">
        <a class="btn btn-primary " href="{% url 'rango:add_comment' category.slug %}" role="button">Add Comment</a>
    </div>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'rango:show_category' category.slug %}">
                        Latest
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'rango:show_category' category.slug %}?order=likes">
                        Most Like
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    <div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'rango:show_category' category.slug %}">
                        5
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'rango:show_category' category.slug %}?numberOfPage=ten">
                        10
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="{% url 'rango:show_category' category.slug %}?numberOfPage=twenty">
                        20
                    </a>
                </li>
            </ol>
        </nav>
    </div>

    {% if comments %}
    <div class="list-group" id="comment_list">
        {% for comment in comments %}
        <div class="list-group-item list-group-item-action comment-wrap">

            <p class="mb-1 comment">{{ comment.content|safe}}</p>
            <p>
                <small style="color: green">{{ comment.user }}&nbsp;&nbsp;&nbsp;</small>
                <small style="color: purple">{{ comment.time|date:"Y-m-d H:i:s" }}&nbsp;&nbsp;&nbsp;</small>
                <small style="color: tomato">likes: {{ comment.likes }} </small>
            </p>
            {% if user.is_authenticated %}
            <p class="comment-others">
                <a href="#" onclick="like_comment('{{ comment.id }}')">like</a>

                <a href="#" onclick="confirm_delete('{{ comment.id }}')">delete</a>

            <p>

                {% endif %}


        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <div class="step-links">
            <div class="current">
                Page {{ comments.number }} of {{ comments.paginator.num_pages }}
            </div>
            {% if comments.has_previous %}
            <div>
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ comments.previous_page_number }}">previous</a>
                {% endif %}

                {% if comments.has_next %}
                <a href="?page={{ comments.next_page_number }}">next</a>
                <a href="?page={{ comments.paginator.num_pages }}">last &raquo;</a>
            </div>

            {% endif %}
        </div>
    </div>
    {% else %}
    <strong>No comments currently in category.</strong>
    {% endif %}

</div>
{% endblock %}