{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
About Rango
{% endblock %}

{% block  body_block%}
    <div class="text-center">
        <h4>Please, do not hesitate to contact delevopers with your suggestions and feedback!</h4>
    </div>
    <div class="text-center justify-content-center">
       
      
           
        <li>
            <ul>
               
                Haojun Ma 	 2549410M@student.gla.ac.uk
                
            </ul>

            <ul>
                Yunzhi Gong  2598798G@student.gla.ac.uk

            </ul>

            <ul>
                Yue Zhao	2499059Z@student.gla.ac.uk

            </ul>

            <ul>
                Yuze Zhu 	2583782Z@student.gla.ac.uk

            </ul>
        
        </li>
    </div>
{% endblock %}
